.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
!uploads/.gitkeep 
uploads/*
!prisma/db/.gitkeep 
prisma/db/*
logs/*
logs/old/*
!logs/.gitkeep 
!logs/old/.gitkeep
!logs/old
conf/googleapis/keys/*
!conf/googleapis/keys/.gitkeep 

build-node